---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% assign sorted_teaching = site.teaching | sort: "start_date" | reverse %}
{% assign ordered_categories = "Lectures,Professional training,Capacity building" | split: "," %}

{% for cat in ordered_categories %}
  <h2>{{ cat }}</h2>
  <hr />
  {% for post in sorted_teaching %}
    {% if post.categories contains cat %}
      {% include archive-single.html post=post %}
    {% endif %}
  {% endfor %}
{% endfor %}
