---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{%- assign normalized = "" | split: "" -%}
{% for post in site.teaching %}
  {% assign end_val = post.end_date | default: post.start_date %}
  {% assign dummy = post | merge: post %}
  {% assign dummy = dummy | merge: hash, "end_val", end_val %}
  {% assign normalized = normalized | push: dummy %}
{% endfor %}

{% assign sorted = normalized | sort: "end_val" | sort: "start_date" %}
{% for post in sorted %}
  {% include archive-single.html %}
{% endfor %}
